<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<div class="item">
				<span>姓: </span>
				<input type="text" v-model="firstname"/>
			</div>
			<div class="item">
				<span>名: </span>
				<input type="text" v-model="lastname"/>
			</div>
			<!-- 计算属性  -->
			<div class="item">
				<span>计算属性(单向): </span>
				<input type="text" v-model="showUsername"/>
			</div>
			<!-- 监视 -->
			<div class="item">
				<span>监视(单向): </span>
				<input type="text" v-model="username"/>
			</div>
			<!-- 计算属性高级 -->
			<div class="item">
				<span>计算属性高级(双向): </span>
				<input type="text" v-model="showUsername2"/>
			</div>
			<!-- 
			1. 以 "v-"开头的自定义标签属性
			2. 双大括号表达式   可以调用该对象的一些方法：eg: msg.toUpperCase() //转化为大写
			3. 强制数据绑定，指定变化的属性值
				完整写法： v-bind:xxx="xxx"  省略写法   :xxx="xxx"
			4. 绑定事件监听，绑定指定事件名的回调函数
				完整写法: v-on:click="xxx"  省略写法： @click="xxx"
			-->
			<div class="item">{{msg}}___{{msg.toUpperCase()}}</div>
			<div class="item" v-text="test"></div>
			<div class="item" v-html="test"></div>
			<!-- 
				1. 计算属性：
					在computed 属性对象中定义计算属性的方法
					在页面中使用{{方法名}} 来显示计算的结果
					savesl: 初始化显示时会调用一次，以后每次相关属性变化都会调用一次
				2. 监视属性：
					通过 vm 对象的$watch() 或watch配置来监视指定的属性
					当属性变化时，回调函数自动调用，在函数内部进行计算
				3. 计算属性高级：
					通过 getter/setter 实现对属性数据的显示和监视
					计算属性存在缓存，多级读取只执行一次getter计算【一次计算 多次显示】
			-->
		</div>
	</body>
	<script type="text/javascript" src="../../statics/js/Integrate/vue.js"></script>
	<script type="text/javascript">
		const vm = new Vue({
			el: "#app",
			data: {
				firstname: "",
				lastname: "",
				msg: "savesl",
				test: '<a>测试使用a标签</a>',
				username: '',
			},
			computed: {  //计算属性
				//什么时候执行：初始化显示/相关的data属性数据发生该变
				//用来做什么： 计算并返回当前属性的值
				showUsername () {  //计算属性中的一个方法， 方法的返回值作为属性值
					return this.firstname + ' ' + this.lastname;
				},
				
				showUsername2 () {
					//回调函数  当需要读取当前属性的值时回调，根据相关的数据计算并返回当前属性的值
					// 1. 你定义的, 2. 你没有调用, 3. 但最终它执行了
					//: 什么时候调用？ 用来做什么?
					get(){
						return this.firstname + ' ' + this.lastname;
					},
					
					//监视当前属性值的变化，当 属性值发生改变时回调， 更新相关的属性数据
					set(value){
						this.firstname = value.split(' ')[0];
						this.lastname = value.split(' ')[1];
					}
				}
			},
			watch: {  //监视
				firstname: function (value){  //(newVal, oldVal) //firstname发生变化时调用
					this.username = value + ' ' + this.lastname;
				}
			}
		})
		
		vm.$watch('lastname', function (value){
			this.username = this.firstname + ' ' + value;
		})
	</script>
	<style type="text/css">
		#app{
			width: 50%;
			margin: 0 auto;
		}
		
		.item{
			margin-top: 3px;
			height: 40px;
			font-size: 18px;
		}
		
		.item:active{
			border: cyan solid 1px;
		}
	</style>
</html>
